.ns-font-5 {
    font-size: var(--ns-font-size-5) !important;
}

.ns-font-4 {
    font-size: var(--ns-font-size-4) !important;
}

.ns-font-3 {
    font-size: var(--ns-font-size-3) !important;
}

.ns-font-2 {
    font-size: var(--ns-font-size-2) !important;
}

.ns-font-1 {
    font-size: var(--ns-font-size-1) !important;
}


@media (min-width: 375px) {
    .ns-font-xs-5 {
        font-size: var(--ns-font-size-5) !important;
    }

    .ns-font-xs-4 {
        font-size: var(--ns-font-size-4) !important;
    }

    .ns-font-xs-3 {
        font-size: var(--ns-font-size-3) !important;
    }

    .ns-font-xs-2 {
        font-size: var(--ns-font-size-2) !important;
    }

    .ns-font-xs-1 {
        font-size: var(--ns-font-size-1) !important;
    }
}

@media (min-width: 480px) {
    .ns-font-sm-5 {
        font-size: var(--ns-font-size-5) !important;
    }

    .ns-font-sm-4 {
        font-size: var(--ns-font-size-4) !important;
    }

    .ns-font-sm-3 {
        font-size: var(--ns-font-size-3) !important;
    }

    .ns-font-sm-2 {
        font-size: var(--ns-font-size-2) !important;
    }

    .ns-font-sm-1 {
        font-size: var(--ns-font-size-1) !important;
    }
}

@media (min-width: 768px) {
    .ns-font-md-5 {
        font-size: var(--ns-font-size-5) !important;
    }

    .ns-font-md-4 {
        font-size: var(--ns-font-size-4) !important;
    }

    .ns-font-md-3 {
        font-size: var(--ns-font-size-3) !important;
    }

    .ns-font-md-2 {
        font-size: var(--ns-font-size-2) !important;
    }

    .ns-font-md-1 {
        font-size: var(--ns-font-size-1) !important;
    }
}

@media (min-width: 1024px) {
    .ns-font-l-5 {
        font-size: var(--ns-font-size-5) !important;
    }

    .ns-font-l-4 {
        font-size: var(--ns-font-size-4) !important;
    }

    .ns-font-l-3 {
        font-size: var(--ns-font-size-3) !important;
    }

    .ns-font-l-2 {
        font-size: var(--ns-font-size-2) !important;
    }

    .ns-font-l-1 {
        font-size: var(--ns-font-size-1) !important;
    }
}

@media (min-width: 1440px) {
    .ns-font-xl-5 {
        font-size: var(--ns-font-size-5) !important;
    }

    .ns-font-xl-4 {
        font-size: var(--ns-font-size-4) !important;
    }

    .ns-font-xl-3 {
        font-size: var(--ns-font-size-3) !important;
    }

    .ns-font-xl-2 {
        font-size: var(--ns-font-size-2) !important;
    }

    .ns-font-xl-1 {
        font-size: var(--ns-font-size-1) !important;
    }
}

.ns-font-bold {
    font-weight: var(--ns-weight-bold) !important;
}

.ns-font-medium {
    font-weight: var(--ns-weight-medium) !important;
}

.ns-font-regular {
    font-weight: var(--ns-weight-regular) !important;
}

@media (min-width: 375px) {
    .ns-font-xs-bold {
        font-weight: var(--ns-weight-bold) !important;
    }

    .ns-font-xs-medium {
        font-weight: var(--ns-weight-medium) !important;
    }

    .ns-font-xs-regular {
        font-weight: var(--ns-weight-regular) !important;
    }
}

@media (min-width: 480px) {
    .ns-font-sm-bold {
        font-weight: var(--ns-weight-bold) !important;
    }

    .ns-font-sm-medium {
        font-weight: var(--ns-weight-medium) !important;
    }

    .ns-font-sm-regular {
        font-weight: var(--ns-weight-regular) !important;
    }
}

@media (min-width: 768px) {
    .ns-font-md-bold {
        font-weight: var(--ns-weight-bold) !important;
    }

    .ns-font-md-medium {
        font-weight: var(--ns-weight-medium) !important;
    }

    .ns-font-md-regular {
        font-weight: var(--ns-weight-regular) !important;
    }
}

@media (min-width: 1024px) {
    .ns-font-l-bold {
        font-weight: var(--ns-weight-bold) !important;
    }

    .ns-font-l-medium {
        font-weight: var(--ns-weight-medium) !important;
    }

    .ns-font-l-regular {
        font-weight: var(--ns-weight-regular) !important;
    }
}

@media (min-width: 1440px) {
    .ns-font-xl-bold {
        font-weight: var(--ns-weight-bold) !important;
    }

    .ns-font-xl-medium {
        font-weight: var(--ns-weight-medium) !important;
    }

    .ns-font-xl-regular {
        font-weight: var(--ns-weight-regular) !important;
    }
}
