.ns-act-btn {
    font-family: inherit;
    font-weight: var(--ns-weight-regular);
    line-height: var(--ns-line-height-tiny);
    color: var(--ns-color-black);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: var(--ns-space-2) var(--ns-space-2);
    font-size: var(--ns-font-size-4);
    border-radius: var(--ns-border-radius-4);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ns-act-btn>*:not(:first-child) {
    margin-left: var(--ns-space-1);
}

.ns-act-btn.ns-act-btn-light {
    color: var(--ns-color-black);
    background-color: var(--ns-color-white);
    border-color: var(--ns-color-grey-light);
}

.ns-act-btn-outline-primary {
    color: var(--ns-color-primary);
    border-color: var(--ns-color-primary);
}

.ns-act-btn:active {
    box-shadow: var(--ns-box-shadow-button);
    transition: none;
}
