.dropdown {
    border-bottom: 1px solid var(--ns-color-grey-light);
}

@media only screen and (min-width: 768px) {
    .dropdown:last-child {
        border-bottom: none;
    }
}

.menu {
    display: none;
    padding: var(--ns-space-4);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li:not(:first-child) {
    margin: var(--ns-space-2) 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--ns-font-3);
}

.dropdown > .anchor .icon {
    right: 16px;
    display: block;
    top: 16px;
    position: absolute;
}

.dropdown.active .menu {
    display: block;
}

.anchor {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: var(--ns-space-4);
}

.title {
    color: var(--ns-color-black);
    font-size: var(--ns-font-4);
}

.count {
    white-space: nowrap;
    vertical-align: baseline;
    line-height: var(--ns-line-height-tiny);
    display: inline-block;
    text-align: center;
    font-size: var(--ns-font-3);
    font-weight: var(--ns-font-bold);
}

.anchor .count {
    border-radius: 50px;
    color: var(--ns-color-white);
    background-color: var(--ns-color-primary);
    padding: 0.1rem 0.35rem;
    margin-left: var(--ns-space-1);
}

.menu .count {
    padding: var(--ns-space-1) var(--ns-space-1);
    color: var(--ns-color-black);
    background-color: var(--ns-color-grey-light);
    border-radius: var(--ns-border-radius-3);
}

.range {
    display: flex;
    justify-content: space-between;
    font-size: var(--ns-font-4);
}

.input {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: var(--ns-space-2);
    flex-shrink: 1;
}
