/*-----------------ns-checkbox--------------------*/

.ns-checkbox {
    position: relative;
    padding-left: var(--ns-space-5);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ns-checkbox>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ns-checkbox>.ns-checkmark:after {
    left: 5px;
    top: 1px;
    width: var(--ns-width-input-checkbox-tick);
    height: var(--ns-height-input-checkbox-tick);
    border: solid var(--ns-color-white);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ns-checkbox>input:checked~.ns-checkmark {
    background-color: var(--ns-color-primary);
}

.ns-checkbox>.ns-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.ns-checkbox>input:checked~.ns-checkmark:after {
    display: block;
}

.ns-checkbox>.ns-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--ns-height-input-checkbox);
    width: var(--ns-height-input-checkbox);
    background-color: var(--ns-color-grey-light);
    border-radius: var(--ns-border-radius-3);
}

/*-------------------ns-input-field---------------------*/

.ns-input-field {
    box-sizing: border-box;
    width: 100%;
    padding: var(--ns-space-2) var(--ns-space-2);
    font-weight: var(--ns-weight-regular);
    line-height: var(--ns-line-height-tiny);
    background-color: var(--ns-color-grey-light);
    background-clip: padding-box;
    border: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--ns-border-radius-4);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ns-input-field:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px var(--ns-color-blue-light), 0 0 0 3px var(--ns-color-grey);
}

/*------------------------------------------------------*/
