.serpElement {
    padding: var(--ns-space-2);
    color: inherit;
    margin: var(--ns-space-2) 0;
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

@media (min-width: 375px) {
    .serpElement {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1024px) {
    .serpElement{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.image img {
    height: auto;
    width: 100%;
}

.info {
    position: relative;
    margin-top: var(--ns-space-2);
}

.info > div {
    color: var(--ns-color-black);
    font-size: var(--ns-font-size-4);
    margin-bottom: var(--ns-space-1) !important;
}

.special-price {
    text-decoration: line-through;
    margin-left: var(--ns-space-2); 
}