.ns-range-slider {
    position: relative;
    margin: var(--ns-space-4) 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 14px;
    padding: 5px 0;
    font-size: var(--ns-font-size-3);
    border-radius: 6px;
}

.ns-range-slider * {
    -webkit-tap-highlight-color: var(--ns-color-black);
}

.ns-range-slider>div.ns-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--ns-color-grey-light);
    border-radius: 6px;
}

.ns-range-slider>div.ns-track {
    position: absolute;
    left: 0;
    height: 4px;
    background-color: var(--ns-color-primary);
}

.ns-range-slider>div.ns-handle {
    position: absolute;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: -5px;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    background-color: var(--ns-color-white);
    border: solid 2px var(--ns-color-primary);
    border-radius: 50%;
}

.ns-range-slider>div.ns-handle:focus {
    outline: none;
    box-shadow: var(--ns-box-shadow-slider-handle);
}

.ns-range-slider>div.ns-handle:active,
.ns-range-slider>div.ns-handle.ns-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    border-color: var(--ns-color-primary-dark);
    box-shadow: var(--ns-box-shadow-slider-handle);
}

.ns-range-slider>div.ns-handle>span.ns-tip {
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    z-index: 1;
    box-sizing: border-box;
    min-width: 24px;
    padding: 0 6px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    color: var(--ns-color-white);
    background: var(--ns-color-grey);
    border-radius: 6px;
    box-shadow: 0 1px 4px var(--ns-color-black);
    transform: translateX(-50%) scale(0);
    transform-origin: center calc(100% + 6px);
    transition-property: transform;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}

.ns-range-slider>div.ns-handle>span.ns-tip::after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    content: "";
    border-width: 6px 3px 0;
    border-color: var(--ns-color-grey-dark) rgba(108, 108, 108, 0) rgba(108, 108, 108, 0);
    border-style: solid;
}

.ns-range-slider>div.ns-handle:active>span.ns-tip,
.ns-range-slider>div.ns-handle.ns-dragging>span.ns-tip {
    transform: translateX(-50%) scale(1);
    transition-timing-function: ease-out;
}

.ns-range-slider>div.ns-marks {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
}

.ns-range-slider>div.ns-marks>span.ns-text {
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: default;
    color: var(--ns-color-black);
}

.ns-range-slider>div.ns-marks>span.ns-text.ns-active {
    color: #333333;
}

.ns-range-slider>div.ns-steps {
    position: absolute;
    width: 100%;
    height: 4px;
}

.ns-range-slider>div.ns-steps>span.ns-dot {
    position: absolute;
    bottom: -2px;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    cursor: pointer;
    background-color: var(--ns-color-white);
    border: 2px solid var(--ns-color-grey-light);
    border-radius: 50%;
}

.ns-range-slider>div.ns-steps>span.ns-dot.ns-active {
    border-color: #8ed8fa;
}

.ns-range-slider.ns-disabled {
    background-color: var(--ns-color-grey-light);
}

.ns-range-slider.ns-disabled>div.ns-track {
    background-color: var(--ns-color-grey-light);
}

.ns-range-slider.ns-disabled>div.ns-handle {
    cursor: not-allowed;
    border-color: var(--ns-color-grey-light);
    box-shadow: none;
}

.ns-range-slider.ns-disabled>div.ns-steps>span.ns-dot {
    cursor: not-allowed;
    border-color: var(--ns-color-grey-light);
}

.ns-range-slider.ns-vertical {
    width: 14px;
    height: 100%;
    padding: 0 5px;
}

.ns-range-slider.ns-vertical>div.ns-rail {
    width: 4px;
    height: 100%;
}

.ns-range-slider.ns-vertical>div.ns-track {
    left: 5px;
    bottom: 0;
    width: 4px;
}

.ns-range-slider.ns-vertical>div.ns-handle {
    margin-bottom: -7px;
    margin-left: -5px;
}

.ns-range-slider.ns-vertical>div.ns-marks {
    top: 0;
    left: 18px;
    height: 100%;
}

.ns-range-slider.ns-vertical>div.ns-steps {
    width: 4px;
    height: 100%;
}

.ns-range-slider.ns-vertical>div.ns-steps>span.ns-dot {
    left: 2px;
    margin-bottom: -4px;
}
