.buttonText {
    border-radius: 50px;
    padding: 0.1rem 0.35rem;
    display: inline-block;
    text-align: center;
    font-size: var(--ns-font-size-3);
    font-weight: var(--ns-weight-bold);
    color: var(--ns-color-white);
    background-color: var(--ns-color-primary);
    margin-left: var(--ns-space-1);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--ns-space-2);
}

@media (min-width: 768px) {
    .hideDesktop {
        display: none !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--ns-space-2) var(--ns-space-1) var(--ns-space-2);
    z-index: var(--ns-header-control);
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        -ms-flex-direction: row;
        display: -ms-flexbox;
        display: flex;
    }
}

.total {
    display: inline-block;
    text-align: center;
    -ms-flex-order: 3;
    order: 3;
    color: var(--ns-color-black);
}

@media (min-width: 768px) {
    .total {
        -ms-flex-item-align: center;
        align-self: center;
        -ms-flex-order: -1;
        order: -1;
        display: block;
    }
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--ns-space-4);
}

@media (min-width: 768px) {
    .buttonsContainer {
        display: block;
        width: auto;
    }
}

.loading {
    opacity: 0.3;
    justify-content: end !important;
}
