.wrapper {
    /* wrapper ns-d-flex ns-justify-content-center ns-align-items-center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 1;
}

.wrapper > .loader {
    border: 8px solid var(--ns-color-grey-light);
    border-top: 8px solid var(--ns-color-primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
