.wrapper {
    /* wrapper ns-d-flex ns-justify-content-center ns-align-items-center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: var(--ns-height-loader-container);
    position: absolute;
    z-index: 1;
}

.loader {
    border: var(--ns-border-width-thick) solid var(--ns-color-grey-light);
    border-top: var(--ns-border-width-thick) solid var(--ns-color-primary);
    border-radius: 50%;
    width: var(--ns-width-loader);
    height: var(--ns-height-loader);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
