.dropdown {
  position: relative;
  display: inline-block;
}



.menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 300px;
  background: var(--ns-color-white);
  border: none;
  border-radius: var(--ns-border-radius-3);
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  margin-top: var(--ns-space-1);
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .menu {
    right: 0;
    min-width: 280px;
  }
}





.inputs {
  display: flex;
  gap: var(--ns-space-3);
  padding: var(--ns-space-4);
  align-items: center;
}

.inputGroup {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--ns-space-2);
}

.inputLabel {
  font-size: var(--ns-font-size-4);
  color: var(--ns-color-black);
  font-weight: var(--ns-weight-medium);
}

.input {
  flex: 1;
  padding: var(--ns-space-3);
  border: none;
  border-radius: var(--ns-border-radius-3);
  font-size: var(--ns-font-size-4);
}

.actions {
  padding: var(--ns-space-3) var(--ns-space-4);
  border-top: none;
  background: var(--ns-color-grey-light);
}