.input {
    box-sizing: border-box;
    width: 100%;
    padding: var(--ns-space-2) var(--ns-space-2);
    font-weight: var(--ns-weight-regular);
    line-height: var(--ns-line-height-tiny);
    background-color: var(--ns-color-grey-light);
    background-clip: padding-box;
    border: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--ns-border-radius-4);
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    display: block;
}

.input[type="range"] {
    padding: var(--ns-space-1);
    background: transparent;
    cursor: pointer;
}

.input[type="range"]::-webkit-slider-track {
    background: var(--ns-color-grey-light);
    height: 4px;
    border-radius: 2px;
}

.input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--ns-color-primary);
    cursor: pointer;
    margin-top: -6px;
    box-shadow: var(--ns-box-shadow-slider-handle);
}

.input[type="range"]::-moz-range-track {
    background: var(--ns-color-grey-light);
    height: 4px;
    border-radius: 2px;
    border: none;
}

.input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--ns-color-primary);
    cursor: pointer;
    border: none;
    box-shadow: var(--ns-box-shadow-slider-handle);
}

.input:focus {
    outline: 0;
    box-shadow:
        inset 0 0 0 1px var(--ns-color-blue-light),
        0 0 0 3px var(--ns-color-grey);
}
