.input {
  box-sizing: border-box;
  width: 100%;
  padding: var(--ns-space-2) var(--ns-space-2);
  font-weight: var(--ns-weight-regular);
  line-height: var(--ns-line-height-tiny);
  background-color: var(--ns-color-grey-light);
  background-clip: padding-box;
  border: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--ns-border-radius-4);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  display: block;
}

.input:focus {
  outline: 0;
  box-shadow:
    inset 0 0 0 var(--ns-border-width-thin) var(--ns-color-blue-light),
    0 0 0 var(--ns-shadow-offset-medium) var(--ns-color-grey);
}
