.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--ns-space-2);
  border-bottom: var(--ns-border-width-thin) solid var(--ns-color-grey-light);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--ns-space-3);
  padding: var(--ns-space-2);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--ns-space-1);
  align-items: flex-start;
}

.name {
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
}
.header {
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-5);
  padding: var(--ns-space-2);
}

.values {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ns-space-1);
}
