.dropdown {
  border-bottom: var(--ns-border-width-thin) solid var(--ns-color-grey-light);
}

@media only screen and (min-width: 768px) {
  .dropdown:last-child {
    border-bottom: none;
  }
}

.menu {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height var(--ns-transition-duration) var(--ns-transition-easing),
    opacity var(--ns-transition-duration) var(--ns-transition-easing);
  opacity: 0;
}

.dropdown > .anchor .icon {
  right: var(--ns-space-16);
  display: block;
  top: var(--ns-space-16);
  position: absolute;
}

.dropdown.active .menu {
  max-height: var(--ns-facet-max-height);
  opacity: 1;
}

.anchor {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: var(--ns-space-4);
  background: none;
  border: none;
  text-align: left;
}

.title {
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
}

.count {
  white-space: nowrap;
  vertical-align: baseline;
  line-height: var(--ns-line-height-tiny);
  display: inline-block;
  text-align: center;
  font-size: var(--ns-font-size-3);
  font-weight: var(--ns-weight-bold);
}

.anchor .count {
  border-radius: var(--ns-border-radius-pill);
  color: var(--ns-color-white);
  background-color: var(--ns-color-primary);
  padding: 0.1rem 0.35rem;
  margin-left: var(--ns-space-1);
}

.menu .count {
  padding: var(--ns-space-1) var(--ns-space-1);
  color: var(--ns-color-black);
  background-color: var(--ns-color-grey-light);
  border-radius: var(--ns-border-radius-3);
}
