.pill {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--ns-space-2) var(--ns-space-3);
  background-color: var(--ns-color-grey-light);
  color: var(--ns-color-black);
  border: none;
  border-radius: var(--ns-border-radius-pill);
  cursor: pointer;
  font-size: var(--ns-font-size-3);
  margin: var(--ns-space-1) var(--ns-space-1) var(--ns-space-1) 0;
  transition: background-color 0.2s ease;
}

.pill.selected, .pill:hover {
  background-color: var(--ns-color-black);
  color: var(--ns-color-white);
}

.secondary {
  display: inline-block;
  margin-left: 4px;
  font-size: var(--ns-font-size-2);
  color: var(--ns-color-grey-dark);
}

.pill.selected .secondary, .pill:hover .secondary {
  color: var(--ns-color-grey);
}