/*------------------ns-autocomplete---------------------*/

.ns-autocomplete {
    left: 0;
    right: 0;
    z-index: var(--ns-z-index-autocomplete);
    max-width: var(--ns-max-width-autocomplete);
    border: 1px solid var(--ns-color-grey-light);
    border-radius: var(--ns-border-radius-3);
    box-shadow: 2px 2px 2px var(--ns-color-grey);
    width: calc(100% - 4px);
}

.ns-autocomplete-keywords {
    border-bottom-color: var(--ns-color-grey-light);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.ns-autocomplete-submit {
    border-top-color: var(--ns-color-grey-light);
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 0;
}

.ns-autocomplete-submit button {
    border-radius: 0;
}

@media only screen and (min-width: 480px) {
    .ns-autocomplete-keywords {
        border-right-color: var(--ns-color-grey-light);
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-style: none;
    }
}

@media only screen and (min-width: 768px) {
    .ns-autocomplete {
        width: auto;
    }
}

.ns-autocomplete .ns-autocomplete-element-hovered {
    background: var(--ns-color-primary-light);
}

/*----------------ns-keyword-in-category----------------*/

.ns-keyword-in-category {
    color: var(--ns-color-grey);
    font-size: var(--ns-font-size-3);
}

.ns-keyword-in-category > span {
    font-weight: var(--ns-weight-bold);
}

/*------------------------------------------------------*/

.ns-autocomplete-voice-position {
    display: inline;
    position: relative;
}

.ns-voice-to-text-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: 0;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}