/*---------------------ns-serp---------------------*/

.ns-serp {
    min-height: 890px;
    max-width: var(--ns-max-width-search-template);
}

.ns-anchor {
  cursor: pointer;
}

/*----------------ns-header-controls--------------------*/

.ns-serp .ns-header-controls,
.ns-serp .ns-mobile-header-controls {
    z-index: var(--ns-header-control);
}

/*---------------------ns-product-----------------------*/

.ns-serp .ns-product .ns-meta .ns-tags {
    top: -40px;
    left: 8px;
}

@media only screen and (min-width: 768px) {
    .ns-serp .ns-product .ns-meta .ns-tags {
        top: -54px;
        left: 16px;
    }
}
/*------------------ns-total-count----------------------*/

.ns-serp .ns-total-count {
    border-radius: 50px;
    padding: 0.1rem 0.35rem;
}

/*-------------------ns-pagination----------------------*/

.ns-serp .ns-page-item.ns-active .ns-page-link {
    z-index: 1;
}

.ns-page-prev-icon::after {
    transform: rotate(90deg);
}
.ns-page-next-icon::after {
    transform: rotate(-90deg);
}

/*--------------ns-facet-sidebar-toggle-----------------*/

.ns-facet-sidebar-toggle:checked~.ns-sidebar-wrapper {
    display: block !important;
    position: fixed !important;
    max-height: 100%;
}

.ns-facet-sidebar-toggle:checked~.ns-sidebar-backdrop,
.ns-facet-sidebar-toggle:checked~.ns-sidebar-wrapper .ns-close-sidebar {
    display: block !important;
}

.ns-facet-sidebar-toggle:checked~.ns-sidebar-wrapper .ns-close-sidebar {
    z-index: var(--ns-z-index-sidebar-close);
}

@media screen and (min-width: 768px) {
    .ns-facet-sidebar-toggle:checked~.ns-sidebar-wrapper {
        display: initial !important;
        position: initial !important;
        max-height: unset !important;
    }

    .ns-facet-sidebar-toggle:checked~.ns-sidebar-backdrop,
    .ns-facet-sidebar-toggle:checked~.ns-sidebar-wrapper .ns-close-sidebar {
        display: none !important;
    }

    .ns-facet-sidebar-toggle:checked~.ns-sidebar-wrapper .ns-close-sidebar {
        z-index: unset;
    }
}

/*----------------ns-sidebar-backdrop-------------------*/

.ns-serp .ns-sidebar-backdrop {
    top: 0;
    left: 0;
    z-index: var(--ns-z-index-sidebar-backdrop);
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .ns-facet-sidebar-toggle:checked ~ .ns-sidebar-backdrop {
        display: none !important;
    }

}

/*----------------ns-sidebar-wrapper--------------------*/

.ns-serp .ns-sidebar-wrapper {
    top: 0;
    left: 0;
    z-index: var(--ns-z-index-sidebar-wrapper);
    max-width: var(--ns-width-mobile-sidebar);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
    .ns-serp .ns-sidebar-wrapper {
        max-width: auto;
    }
}

/*----------------ns-sidebar-content--------------------*/

.ns-serp .ns-sidebar-content {
    overflow-y: auto;
}

/*-----------------ns-sidebar-header--------------------*/

.ns-serp .ns-sidebar-dropdown,
.ns-serp .ns-sidebar-header {
    border-bottom: 1px solid var(--ns-color-grey-light);
}

.ns-serp .ns-close-sidebar {
    border: 0px;
    max-width: var(--ns-width-mobile-close-sidebar);
    top: 10px;
    left: calc(var(--ns-width-mobile-sidebar) - var(--ns-width-mobile-close-sidebar));
}

@media only screen and (min-width: 768px) {
    .ns-serp .ns-sidebar-dropdown:last-child {
        border-bottom: none;
    }
}

/*------------------ns-sidebar-menu---------------------*/

.ns-serp .ns-sidebar-dropdown > .ns-anchor .ns-icon-arrow {
    right: 16px;
}

.ns-serp .ns-sidebar-submenu li:not(:first-child) {
    margin: var(--ns-space-2) 0;
}

.ns-serp .ns-sidebar-submenu .ns-count {
    white-space: nowrap;
    vertical-align: baseline;
    line-height: var(--ns-line-height-tiny);
}

.ns-serp .ns-sidebar-dropdown.ns-active > .ns-anchor .ns-icon-arrow {
    transform: rotate(180deg);
}

.ns-serp .ns-sidebar-dropdown.ns-active .ns-sidebar-submenu {
    display: block !important;
}


/*------------------ns-selected-filter---------------------*/

.ns-serp .ns-selected-filter {
    border: 1px solid var(--ns-color-grey);
    border-radius: var(--ns-border-radius-3);
}

/*------------------ns-load-more-button--------------------*/

.ns-serp .ns-load-more-button {
    display: block;
    margin: var(--ns-space-4) auto 0;
    width: 300px;
}

/*------------------------ns-content-hidden------------------------*/

.ns-content-hidden {
    display: none;
}

/*---------------------------------------------------------*/
