.icon::after {
  content: "";
  background-size: var(--ns-width-icon) var(--ns-height-icon);
  height: var(--ns-height-icon);
  width: var(--ns-width-icon);
  font-style: normal;
  display: inline-block;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--ns-width-icon) + var(--ns-space-4));
  height: calc(var(--ns-height-icon) + var(--ns-space-4));
  background-color: var(--ns-color-grey-light);
  border-radius: 50%;
}

.circle::after {
  background-size: calc(var(--ns-width-icon) * 0.75) calc(var(--ns-height-icon) * 0.75);
  height: calc(var(--ns-height-icon) * 0.75);
  width: calc(var(--ns-width-icon) * 0.75);
}
