.container {
  padding: var(--ns-space-2);
  color: inherit;
  margin: var(--ns-space-2) 0;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  text-decoration: none;
}

.image img {
  height: auto;
  width: 100%;
}

.info {
  position: relative;
  margin-top: var(--ns-space-2);
}

.info > div {
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
  margin-bottom: var(--ns-space-1) !important;
}

.specialPrice {
  text-decoration: line-through;
  margin-left: var(--ns-space-2);
}
