.container {
  padding: var(--ns-space-2);
  color: inherit;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  text-decoration: none;
}

.image {
  position: relative;
}

.image > .img {
  height: auto;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.img, .img::part(img) {
  aspect-ratio: var(--ns-aspect-ratio);
}

.image > .img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.altContainer:hover .image > .img:nth-child(2) {
  opacity: 1;
}

.info {
  position: relative;
  margin-top: var(--ns-space-2);
}

.info > div {
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
  margin-bottom: var(--ns-space-1) !important;
}

.specialPrice {
  text-decoration: line-through;
  margin-left: var(--ns-space-2);
}

.ribbon {
  position: absolute;
  background-color: var(--ns-color-white);
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
  padding: 8px;
  z-index: 1;
  text-align: center;
}

.saleRibbon {
  composes: ribbon;
  top: 8px;
  left: 8px;
  background-color: var(--ns-color-red);
  color: var(--ns-color-white);
}

.newRibbon {
  composes: ribbon;
  top: 8px;
  left: 8px;
}

.quickAdd {
  composes: ribbon;
  bottom: 8px;
  left: 8px;
  border: none;
  cursor: pointer;
  display: none;
}

.container:hover .quickAdd {
  display: block;
}

/** skeleton styles **/

.skeleton {
  pointer-events: none;
}

.fakeProduct {
  pointer-events: none;
  display: block;
  text-decoration: none;
}

.fakeProduct .image {
  aspect-ratio: var(--ns-aspect-ratio);
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  overflow: hidden;
  height: var(--ns-skeleton-height);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}