.container {
  padding: var(--ns-space-2);
  color: inherit;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  text-decoration: none;
}

.image {
  position: relative;
}

.image > img,
.image > nosto-image {
  height: auto;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.image > img:nth-child(2), .image > nosto-image:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.altContainer:hover .image > img:nth-child(2), 
.altContainer:hover .image > nosto-image:nth-child(2) {
  opacity: 1;
}

.info {
  position: relative;
  margin-top: var(--ns-space-2);
}

.info > div {
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
  margin-bottom: var(--ns-space-1) !important;
}

.specialPrice {
  text-decoration: line-through;
  margin-left: var(--ns-space-2);
}

.ribbon {
  position: absolute;
  background-color: var(--ns-color-white);
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
  padding: 8px;
  z-index: 1;
  text-align: center;
}

.saleRibbon {
  composes: ribbon;
  top: 8px;
  left: 8px;
  background-color: var(--ns-color-red);
  color: var(--ns-color-white);
}

.newRibbon {
  composes: ribbon;
  top: 8px;
  left: 8px;
}

.quickAdd {
  composes: ribbon;
  bottom: 8px;
  left: 8px;
  border: none;
  cursor: pointer;
  display: none;
}

.container:hover .quickAdd {
  display: block;
}
