.wrapper {
  min-height: var(--ns-min-height-content);
  max-width: var(--ns-max-width-search-template);
  display: flex;
  flex-direction: column;
  font: inherit;
  padding: 0;
  margin: 0 auto;
}

.container {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  position: initial;
}

.loading {
  position: relative;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row !important;
  }
  .container {
    display: inline-block;
    padding-left: var(--ns-space-5);
  }
}
