.keyword {
  padding: var(--ns-space-1) var(--ns-space-2);
  color: inherit;
  text-decoration: none;
  border-radius: var(--ns-border-radius-3);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.keyword:global(.ns-highlighted) {
  background-color: var(--ns-color-primary-light);
  outline: 2px solid var(--ns-color-primary);
  outline-offset: -2px;
}

.keyword:hover {
  background-color: var(--ns-color-grey-light);
}