.container {
  display: block;
}

.padding-05 {
  padding: var(--ns-space-05);
}

.padding-1 {
  padding: var(--ns-space-1);
}

.padding-2 {
  padding: var(--ns-space-2);
}

.padding-3 {
  padding: var(--ns-space-3);
}

.padding-4 {
  padding: var(--ns-space-4);
}

.padding-5 {
  padding: var(--ns-space-5);
}

.padding-10 {
  padding: var(--ns-space-10);
}

.padding-16 {
  padding: var(--ns-space-16);
}