.wrapper {
  margin: var(--ns-space-4) 0;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  box-sizing: border-box;
  color: var(--ns-color-black);
  width: 100%;
  padding: var(--ns-space-2);
  margin: var(--ns-space-2) 0;
  gap: var(--ns-space-3);
}

@media (min-width: 375px) {
  .container {
    justify-content: center;
    position: relative;
  }
  
  .container > :last-child {
    position: absolute;
    right: 0;
  }
}
