.close {
  border: var(--ns-border-width-none);
  max-width: var(--ns-width-mobile-close-sidebar);
  top: var(--ns-space-10);
  right: var(--ns-space-10);
  position: absolute;
  display: block;
  text-align: right;
  align-items: center;
  font-size: var(--ns-font-size-3);
  cursor: pointer;
}

.wrapper {
  top: 0;
  left: 0;
  z-index: var(--ns-z-index-sidebar-wrapper);
  max-width: var(--ns-width-mobile-sidebar);
  min-width: var(--ns-width-mobile-sidebar);
  width: var(--ns-width-mobile-sidebar);
  height: 100%;
  flex: 0 0 25%;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  visibility: hidden;
}

/* Mobile view */
.wrapper.open {
  transform: translateX(0);
  visibility: visible;
  max-height: 100%;
}

.wrapper.open .close {
  display: block !important;
  z-index: var(--ns-z-index-sidebar-close);
}

@media screen and (min-width: 768px) {
  .wrapper {
    position: relative;
    transform: translateX(0);
    visibility: visible;
    flex: 0 0 25%;
    max-width: 25%;
    width: auto;
    min-width: auto;
  }
  
  .wrapper.open {
    transform: translateX(0);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    width: auto;
    min-width: auto;
  }
}

.backdrop {
  top: 0;
  left: 0;
  z-index: var(--ns-z-index-sidebar-backdrop);
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--ns-color-black);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

.backdrop.show {
  opacity: 0.5;
  visibility: visible;
}

.backdrop:focus {
  outline: 2px solid var(--ns-color-primary);
  outline-offset: -2px;
}

.content {
  overflow-y: auto;
  position: relative;
  background-color: var(--ns-color-white);
  height: 100%;
  margin-right: 0;
  padding: var(--ns-space-1);
  min-width: var(--ns-width-mobile-sidebar);
}

.header {
  display: flex;
  align-items: baseline;
  padding: var(--ns-space-4);
  border-bottom: var(--ns-border-width-thin) solid var(--ns-color-grey-light);
}

.facets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.count {
  white-space: nowrap;
  vertical-align: baseline;
  line-height: var(--ns-line-height-tiny);
}
