.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: var(--ns-space-2);
  color: inherit;
  text-decoration: none;
}

.container:focus {
  background-color: var(--ns-color-focus);
}

.image {
  height: auto;
  aspect-ratio: var(--ns-aspect-ratio);
  object-fit: contain;
  width: 100%;
}

.details {
  padding-top: var(--ns-space-2);
  color: var(--ns-color-black);
  font-size: var(--ns-font-size-4);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: var(--ns-space-1);
}

.price {
  font-weight: bold;
}

.strikedPrice {
  text-decoration: line-through;
  margin-left: var(--ns-space-2);
}
