:root {
  /* COLOR */
  --ns-color-black: #000000;
  --ns-color-white: #ffffff;
  --ns-color-grey-light: #f0f3f6;
  --ns-color-grey: #96a9bd;
  --ns-color-grey-dark: #516980;
  --ns-color-primary-light: #d9f0ff;
  --ns-color-primary: #2473d6;
  --ns-color-primary-dark: #16539e;
  --ns-color-link: #2473d6;

  /* FONT-SIZE */
  --ns-font-size-5: 1rem;
  --ns-font-size-4: 0.9rem;
  --ns-font-size-3: 0.75rem;
  --ns-font-size-2: 0.5rem;
  --ns-font-size-1: 0.25rem;

  /* FONT */
  --ns-weight-bold: 700;
  --ns-weight-medium: 500;
  --ns-weight-regular: 400;

  /* SPACING */
  --ns-space-5: 1.5rem;
  --ns-space-4: 1rem;
  --ns-space-3: 0.75rem;
  --ns-space-2: 0.5rem;
  --ns-space-1: 0.25rem;
  --ns-space-05: 5px;
  --ns-space-10: 10px;
  --ns-space-16: 16px;

  /* BORDER-RADIUS */
  --ns-border-radius-3: 3px;
  --ns-border-radius-4: 4px;
  --ns-border-radius-circle: 50%;
  --ns-border-radius-pill: 50px;

  /* BORDER-WIDTH */
  --ns-border-width-none: 0;
  --ns-border-width-thin: 1px;
  --ns-border-width-medium: 2px;
  --ns-border-width-thick: 8px;

  /* LINE-HEIGHT */
  --ns-line-height-tiny: 1;

  /* Z-INDEX */
  --ns-z-index-autocomplete: 9000;
  --ns-z-index-sidebar-backdrop: 1051;
  --ns-z-index-sidebar-wrapper: 1052;
  --ns-z-index-sidebar-close: 1053;
  --ns-header-control: 1040;

  /* BOX SHADOW */
  --ns-box-shadow-button: inset 0 0 40px rgb(0 0 0 / 0.25);
  --ns-box-shadow-slider-handle: 0 0 5px var(--ns-color-primary-dark);
  --ns-box-shadow-autocomplete: 2px 2px 2px var(--ns-color-grey);
  --ns-shadow-offset-small: 2px;
  --ns-shadow-offset-medium: 3px;

  /* WIDTH */
  --ns-max-width-search-template: 1500px;
  --ns-max-width-autocomplete: 900px;
  --ns-width-mobile-sidebar: 260px;
  --ns-width-mobile-close-sidebar: 38px;
  --ns-width-icon: 12px;
  --ns-width-input-checkbox: 16px;
  --ns-width-input-checkbox-tick: 5px;
  --ns-width-select: 150px;
  --ns-width-loader: 60px;
  --ns-width-product-image: 60px;
  --ns-width-autocomplete-offset: 4px;

  /* HEIGHT */
  --ns-height-icon: 12px;
  --ns-height-input-checkbox: 16px;
  --ns-height-input-checkbox-tick: 10px;
  --ns-height-loader: 60px;
  --ns-height-loader-container: 300px;
  --ns-min-height-content: 890px;
}
