.historyColumn {
  display: flex;
  flex-direction: column;
  border-right: var(--ns-border-width-thin) solid var(--ns-color-grey-light);
  min-width: 150px;
  padding: var(--ns-space-1);
}

@media only screen and (max-width: 767px) {
  .historyColumn {
    border-right: none;
    border-bottom: var(--ns-border-width-thin) solid var(--ns-color-grey-light);
    min-width: auto;
  }
}