.autocomplete {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--ns-color-white);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: var(--ns-z-index-autocomplete);
  max-width: var(--ns-max-width-autocomplete);
  border: var(--ns-border-width-thin) solid var(--ns-color-grey-light);
  border-radius: var(--ns-border-radius-3);
  box-shadow: var(--ns-box-shadow-autocomplete);
  width: calc(100% - var(--ns-width-autocomplete-offset));
  font-family: var(--ns-font-family);
  font-size: var(--ns-font-size-4);
}

@media only screen and (min-width: 768px) {
  .autocomplete {
    width: auto;
  }
}

.container {
  margin-top: auto;
  width: 100%;
}

.paddingContainer {
  padding: var(--ns-space-1);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: var(--ns-space-3);
}
