.container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  cursor: pointer;
  min-height: 1.5em;
  padding: 4px 8px;
}

.container:focus,
.container:hover {
  background-color: #0c080811;
}

.name {
  font-size: 15px;
  font-weight: 500;
  color: #1f2937;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}